@import '../../bourbon/bourbon';


.container{
    width:300px;
    margin:0px;
    padding:0px;
}

h1{
    font-family: 'Source Code Pro', ;
    font-size: 12px;
    font-color:black;
    padding:8px;
    background-color:#E6E6FA;
}

.text{
    padding:0px;
    background:white;
    font-size:8px;
    margin:0px;
}

